.output {
    font-weight:bold;
    color: #03f;
  }
  #graph {
    border:solid black 1px;
    background-color: #ddd;
    height: 500px;
    width: 400px;
  }
  th, td {
    vertical-align: top;
  }